CompileFlags:
  # Fuerza a clangd a tratar los archivos como C plano
  Add: [
    "-xc",
    "-D__extension__=",
    "-D__attribute__(x)=",
    "-D_GNU_SOURCE"
  ]
  Remove: [
    -fno-tree-switch-conversion,
    -fno-malloc-dce,
    -fzero-init-padding-bits=*,
    -fstrict-volatile-bitfields,
    -mlongcalls,
    -fno-shrink-wrap,
    -mfpu=*,
    -target=*,
    -m*
  ]

Diagnostics:
  Suppress: "*"
